.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 30em;
  overflow-y: auto;
}

.icon {
  fill: #ccc;
  margin-right: 0.25em;
}
