.logo-block {
  position: relative;

  .logo-react {
    position: absolute;
    top: -220px;
    left: 93px;
    width: 150px;
    height: 150px;
  }

  .logo-redux {
    position: absolute;
    top: -183px;
    left: 30px;
    width: 80px;
    height: 80px;
  }

  .logo-text {
    position: absolute;
    top: -200px;
    left: 220px;
    width: 500px;
    height: 180px;
    font-size: 28pt;
    font-weight: 700;
    color: #ffffff;
  }
}
